html, body {
    max-width: 100%;
    overflow-x: hidden;
    background: #ffe3991a;
    color: grey;
}

body {
  padding: 30px;
}

img {
  width: 175px;
}

#top .inline {
  display: inline-block;
  width: 29%;
  margin-left: 35px;
}

#top {
  margin-left: 10%;
}

#postalInput {
  text-align: center;
}

.wrapper div {
  display: inline-block;
  width: 29%;
}

@media only screen and (max-width: 600px) {
  body {
      padding: "inherit";
  }

  #top {
    margin-left: inherit;
  }

  #top .inline {
    margin-left: 16px;
  }

  .wrapper div {
    display: block;
    width: 43%;
    margin-top: 50px;
    margin-left: 40px;
    padding-bottom: 20px;
    padding-right: 41px;
    padding-left: 40px;
    border: 2px dotted #c8c8c8;
  }

  #map {
    margin-left: -40px;
  }
}
